@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

:root {
  --ion-safe-area-top: 0px;
--ion-safe-area-bottom: 0px;
--ion-color-gold:linear-gradient(-40deg,#bea358ff,#fae1a6ff);

}
.ion-color-gold {
--ion-color-base: var(--ion-color-gold) !important;
}	
ion-content{
  --background:  rgba(190,163,88,0) url('./letters.jpg'); 

}